<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^tag-([0-9]*)/(.*)$ all-tag.php?tag=$1
RewriteRule ^cate-([0-9]*)/(.*)$ all-category.php?cate_id=$1&cate=$2
RewriteRule ^post-([0-9]*)/(.*).html$ post-detail.php?topic_id=$1&topic=$2
RewriteRule ^series-([0-9]*)/(.*)$ post_series.php?series=$1
RewriteRule ^year-([0-9]*)$ all-year.php?year=$1
RewriteRule ^view-([0-9]*)/(.*).html$ view_blog.php?id=$1
RewriteRule ^tv-([0-9]*)/(.*).html$ tv.php?id=$1
RewriteRule ^sitemap.xml$ sitemap.php
</IfModule>
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^thaimovie3g\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.thaimovie3g\.com$
RewriteRule ^/?$ "https\:\/\/thaimovie3g\.com\/" [R=301,L]

